.text-sty{
 
    width: 138px;
    height: 42px;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 8px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color:white
}

.text-style2{
    background-color: #2CAE66 !important;
    width: 141px;
    height: 42px;
    border-radius: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 8px;
    font-family: Roboto;
    font-size: 14px;
    width: fit-content;
    font-weight: 500;
    line-height: 22px;
    color:white
}