a.active .open-icon-container{
   background-color: #E6F6ED;
   color: #2DA060;
   font-weight: 500;
   font-size: 14px;
   line-height: 20px;
}

.open-icon-container{
   color: #606060;
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   background-color: #FFFFFF;
}