.style{
    background-color: #2cae66!important;
    width: 86px;
    color: white;
    height: 42px;
    border-radius: 8px;
     font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    
  }
.style1{
    background-color: #EC3030!important;
    width: 86px;
    color: white;
    height: 42px;
    border-radius: 8px;
     font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    
  }
  

  .box-style{
    border-radius: 8px ;
    background-color: #EFEFEF;
     height:42px;
     
  }
  
  .txt-style{
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    font-family: Roboto;
    background-color: transparent;
  }

  .NavbarForm{
    height: 42px;
    width:138px;
  border-radius: 8px;
 
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  font-family: Roboto;
  }

  .NavbarCreateOrder{
  
    height: 42px;
    width:138px;
    border-radius: 8px;
    color: white;
    font-family: roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
  }

  .NavbarCreateOrder.disabled:hover{
    cursor: not-allowed;
  }

  /* .table-container {
    border-radius: 20px;
  } */
  
  /* .table-auto {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
  } */
  

  
  /* .table-auto th:first-child{
    border-top-left-radius: 20px;
    
  } */
  
  /* .table-auto th:last-child{
    border-top-right-radius: 20px;
  }
   */

   table thead th:first-child {
    border-top-left-radius: 8px; /* Adjust the value as needed */
  }
  
  table thead th:last-child {
    border-top-right-radius: 8px; /* Adjust the value as needed */
  }

  .drop-shadow {
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.16);
  }