.dropHover:hover{
    background-color:#DDF8E9;
    ;
  }
  
  .dropHover{
  padding-left: 6px;
  padding-top: 8px;
  padding-right: 6px;
  padding-bottom: 8px;
  height: 32px;
  width: 170px;
  border-radius: 8px;
  }

  .outer-box{
        border: 1px #B7B7B7;
        margin-top: 25px;
        padding: 5px;
        width: 180px;
        height: 106px;
        border-radius: 8px;
        box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.45);
      }
      
    .box-text{
        background: white;
  color: #696969;
  font-weight: 400;
  font-size: 15px;
  font-family: Roboto;
  letter-spacing: 1%;
    }
  